path.build-item {
    fill: #57d7ee;
    fill-opacity: 0;
    stroke: #4398a7;
    stroke-opacity: 0;
    stroke-width: 4px;
    transition: .3s;
    cursor: pointer;

    &:hover {
        fill-opacity: 0.3;
        stroke-opacity: 1;
    }
}