path.build-item,
path.build-float {
    fill: $primary-fill;
    fill-opacity: 0;
    stroke: $primary-stroke;
    stroke-opacity: 0;
    stroke-width: 4px;
    transition: .3s;
    cursor: pointer;

    &:hover {
        fill-opacity: 0.3;
        stroke-opacity: 1;
    }

    &.sold {
        fill: $sold-fill;
        fill-opacity: 0.3;
        stroke: $sold-fill;
        stroke-opacity: 1;
        cursor: no-drop;
    }
}

// info section

.info {
    padding-top: 10px;
    padding-bottom: 10px;

    h2 {
        margin-bottom: 5px;
    }

    .info-build {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 30px;

        .info-item {
            text-align: center;

            i {
                display: block;
                text-align: center;
                margin-top: 10px;
            }
        }
    }
}