<header>
    <div class="container">
        <a href="index.html" class="logo"><img src="assets/img/logo.svg" alt="AwesomeBuilder"></a>
        <nav>
            <ul class="menu">
                <li class="menu-item"><a class="menu-link" href="#">genplan</a></li>
                <li class="menu-item"><a class="menu-link" href="#">build-item</a></li>
                <li class="menu-item"><a class="menu-link" href="#">floor-item</a></li>
                <li class="menu-item"><a class="menu-link" href="#">flat-item</a></li>
            </ul>
        </nav>
    </div>
</header>