<div class="modal-wrapper">
    <div class="modal-container">
        <h2 class="modal-title">Lorem ipsum dolor sit amet.</h2>
        <p class="modal-discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque odit aperiam
            voluptatem perferendis ab veritatis tempora fugiat et dolore nobis, id quisquam nostrum esse magni, libero
            maxime illo delectus eveniet est voluptatum. Odio minus odit et? Saepe sequi reprehenderit, voluptates modi
            doloremque ipsam amet distinctio, quo officiis illum explicabo enim ratione libero cumque soluta, nulla
            provident! Quos quo assumenda voluptate quibusdam dignissimos, vero, magnam porro omnis consequatur vel quis
            officia! Saepe tempora debitis asperiores ratione fugiat doloribus commodi ab recusandae minus nobis
            dignissimos culpa architecto, alias autem perferendis atque impedit neque, similique beatae optio aut?
            Tenetur sequi voluptatibus obcaecati beatae!</p>
        <div class="button-row">
            <button class="btn">Отправить</button>
            <button class="closed">X</button>
        </div>
    </div>
</div>